html, body {
  min-height: 100%;
}

body { 
  background: rgb(41,3,82);
  background: linear-gradient(180deg, rgba(41,3,82,1) 0%, rgba(73,9,88,1) 30%, rgba(106,13,122,1) 100%);
}

h1, h2 {
  margin: 0;
}

.bg-indigo { 
  background-color: indigo;
}

.bg-orange { 
  background-color: orange;
}

.bg-yellow { 
  background-color: darkkhaki;
}

.card {
  background-color: rgba(0,0,0, 0.5);
  width: 400px;
  border-radius: 1rem;
  display: inline-block;
  margin: 0 0.4rem;
  overflow: hidden;
}

.card-title {
  font-size: 1.3rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


.card-main-amount {
  font-size: 2.5rem;
  padding: 30px 0;
  color: white;
  text-align: center;
  border-bottom: 0.1px solid rgba(160,160,160, 0.8);
}

.item {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  text-align: center;
  color: rgba(160,160,160, 0.8);
  font-weight: 800;
  /* border-top: 0.1px solid rgba(160,160,160, 0.8); */
  border-bottom: 0.1px solid rgba(160,160,160, 0.8);
}

.add-cart {
  background-color: transparent;
  padding: 2rem 0;
  text-align: center;
}

.add-cart button {
  background-color: transparent;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  border: 0;
  color: white;
  font-weight: 600;
  font-size: 20px;
  transition: background-color, transform 0.3s ease;
}

.add-cart button:hover {
  background-color: rgba(73, 9, 88, 1);
  transform: scale(1.2);

}