html, body {
  min-height: 100%;
}

body { 
  background: lightblue;
}

h1, h2, h3, p { 
  margin: 0;
}

.form-section {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.main-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-container {
  background-color: #eee;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.item {
  margin: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.submit-button {
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  color: white;
  background-color: steelblue;
  border: 0;
}